<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bg.roboleague.mobile"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
      	
      	<activity android:name="bg.roboleague.mobile.StartingPoint"
      	    	  android:label="@string/app_name"
      	    	  android:screenOrientation="portrait"
      	    	  android:configChanges="orientation">
      	    <intent-filter>
      	        <action android:name="android.intent.action.MAIN"/>
      	        <category android:name="android.intent.category.LAUNCHER"/>
      	    </intent-filter>
      	</activity>
      	
      	<activity android:name="bg.roboleague.mobile.DeviceScanner"
      	    	  android:label="@string/app_name"
      	    	  android:screenOrientation="portrait"
      	    	  android:configChanges="orientation">
      	    <intent-filter>
      	        <action android:name="bg.roboleague.mobile.DEVICESCANNER"/>
      	        <category android:name="android.intent.category.DEFAULT"/>
      	    </intent-filter>
      	</activity>
      	
      	<activity android:name="bg.roboleague.mobile.Calibration"
      	    	  android:label="@string/app_name"
      	    	  android:screenOrientation="portrait"
      	    	  android:configChanges="orientation">
      	    <intent-filter>
      	        <action android:name="bg.roboleague.mobile.CALIBRATION"/>
      	        <category android:name="android.intent.category.DEFAULT"/>
      	    </intent-filter>
      	</activity>
      	
      	<activity android:name="bg.roboleague.mobile.RobotScreen"
      	    	  android:label="@string/app_name"
      	    	  android:screenOrientation="portrait"
      	    	  android:configChanges="orientation">
      	    <intent-filter>
      	        <action android:name="bg.roboleague.mobile.ROBOTSCREEN"/>
      	        <category android:name="android.intent.category.DEFAULT"/>
      	    </intent-filter>
      	</activity>
    </application>
</manifest>